<head>
		<!-- Google Analytics -->
		{{ template "_internal/google_analytics_async.html" . }}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{- if .IsHome }}
			<meta name="description" content="{{ .Site.Params.Description }}">
		{{- else if .Description }}
			<meta name="description" content="{{ .Description }}">
		{{- end }}

		<title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>

		<!-- CSS -->
		{{- $inServerMode	:= .Site.IsServer }}
		{{- $cssTarget		:= "css/style.css" }}
		{{- $cssOptions		:= cond ($inServerMode) (dict "targetPath" $cssTarget "enableSourceMap" true) (dict "targetPath" $cssTarget "outputStyle" "compressed") }}
		{{- $style			:= resources.Get "scss/tale.scss" | toCSS $cssOptions }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
		{{ range .Site.Params.css -}}
			<link rel="stylesheet" href="{{ . | relURL }}">
		{{ end -}}
		{{ $style := resources.Get "scss/brigade.scss" | toCSS | minify | fingerprint }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">

		<!-- Favicon -->
		{{- range $i := .Site.Params.faviconSizes }} 
		{{- $favicon := resources.Get "img/favicon.png" }} 
		{{- $image := $favicon.Resize (printf "%dx%d" $i $i) }}
		<link rel="icon" type="image/png" sizes="{{$i}}x{{$i}}" href="{{ $image.Permalink }}"/>
		{{- end }} 
		{{- with resources.Get "img/favicon.png" }} 
		{{- $image := .Resize "180x180" }}
		<link rel="apple-touch-icon" sizes="180x180" href="{{ $image.Permalink }}" />
		{{- end }}

		<!-- RSS -->
		<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
	</head>
